<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="Base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<section>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-6 offset-md-3 card p-3">
                <h3 class="text-center text-primary my-2">Login Here</h3>
                <div th:if="${param.error}" class="alert alert-danger my-2">
                    Invalid Credentials
                </div>
                <div th:if="${param.logout}" class="alert alert-success my-2">
                    Used logged out
                </div>
                <form th:action="@{/dologin}" action="#" method="post">
                    <div>
                        <label id="username">User Name : </label><br/>
                        <input type="text" name="username" id="username" class="form-control" required/>
                    </div><br/>
                    <div>
                        <label id="password">User Name : </label><br/>
                        <input  type="password" name="password" id="password" class="form-control" required/>
                    </div><br/>
                    <div>
                        <a th:href="@{/signup}">Register here.</a>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>